setuptools==41.6.0
junitxml
python-subunit
selenium==3.141.0
Appium-Python-Client==0.44
testtools==1.8.0
browsermob-proxy==0.7.1
git+git://github.com/cgoldberg/sauceclient.git@aa27b7d
pytz==2013.7
enum34==1.1.6
urllib3==1.24.3
python-dateutil
